@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  padding: 20px 100px;
  background: #161616;
  scroll-behavior: smooth;
  color: white;
  font-family: 'Poppins';
}

.noise {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  content: "";
  z-index: 1000;
  opacity: 0.03;
  pointer-events: none;
  background-repeat: repeat-x;
  background-repeat: repeat-y;
  background: url('/noise.gif');
}